<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../css1/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js1/jquery.js"></script>

</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    </ul>
    </div>
    
    <div class="mainindex">
    
    
    <div class="welinfo">
    <span><img src="../images1/sun.png" alt="天气" /></span>
    <b th:text="${loginedUser.getaName()}+'早上好，欢迎使用信息管理系统'"></b>
    <a href="#">帐号设置</a>
    </div>
    
    <div class="welinfo">
    <span><img src="../images1/time.png" alt="时间" /></span>
    <i>您上次登录的时间：2013-10-09 15:22</i> （不是您登录的？<a href="#">请点这里</a>）
    </div>
    
    <div class="xline"></div>
    
    <ul class="iconlist">
    
   
    <li><img src="../images1/ico02.png" /><p><a href="album.html?id=1">专辑管理</a></p></li>
    <li><img src="../images1/ico04.png" /><p><a href="right2.html">音乐管理</a></p></li>
    <li><img src="../images1/ico05.png" /><p><a href="#">博客管理</a></p></li>

            
    </ul>
    
    
    <div class="xline"></div>
    <div class="box"></div>
    
   
    
    
</body>
</html>
